.carta {
  width: 75px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.carta:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1024px) {
  .carta {
    width: 90px;
  }
}