.container {
  width: 220px;
  height: 280px;
  position: relative;
  display: grid;
  grid-template-areas:
    ". superior ."
    "esquerda . direita"
    ". inferior .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.cartaNaMesa {
  position: absolute; 
}

.inferior {
  grid-area: inferior;
  transform: translateY(20px);
}

.esquerda {
  grid-area: esquerda;
  transform: translateX(-30px) rotate(-90deg);
}

.superior {
  grid-area: superior;
  transform: translateY(-20px) rotate(180deg);
}

.direita {
  grid-area: direita;
  transform: translateX(30px) rotate(90deg);
}