.mesaContainer {
  border: 2px solid #4a5568;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  min-height: 250px;
  background-color: #2d3748;
}

.cartasNaMesa {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nomeJogador {
  font-size: 0.8rem;
  color: #a0aec0;
  text-align: center;
  margin-top: 5px;
}